h1 {
    text-align: center;
}
p {
    text-align: justify;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.img_centralizada{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: blue;
}

.img_q2_dimensao {
    width: 280px;
    height: auto;
}

.legenda{
    text-align: center;
    padding-top: 5px;
}

.citacao{
    text-align: justify;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 80px;
}
.center{
    text-align: center;
}

.ex-03-h2{
    text-align: center;
}
div {
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}